@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');
@import 'reset';

$font-stack: 'Fira Sans', sans-serif;
$sidebar-width: 280px;
$blue: #1144bb;

body {
  margin: 0;
  font-family: $font-stack;
}

a {
  color: $blue;
  margin: 0 5px;
  cursor: pointer;
}

#canvas {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: $sidebar-width;
  overflow: auto;
  background-color: #f8f8f8;
  padding: 40px;
  canvas {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.1);
  }
}

#ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: calc(100% - #{$sidebar-width});
  background-color: #1a1a1a;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 15px;
  hr {
    border: none;
    height: 1px;
    background-color: #444;
  }
  h1 {
    font-size: 200%;
    line-height: 1.2em;
  }
  h1, h2 {
    padding: 15px;
  }
  #metrics-header {
    padding: 0.5em;
  }
  #metrics-ideal {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
  #warning {
    font-size: 0.8em;
    padding-top: 10px;
    line-height: 1.2em;
    i {
      padding-right: 0.5em;
    }
  }
}

// dat.gui
.dg.ac {
  z-index: 1;
  pointer-events: none;
}

fieldset {
  padding: 15px;
  label {
    display: inline-block;
    width: $sidebar-width * 0.3;
  }
  a.export {
    background-color: $blue;
    border-radius: 5px;
    padding: 0.5em 0.75em;
    color: white;
  }
  a.import {
    font-size: 80%;
  }
  input.import {
    margin: 10px 5px 0 5px;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  tr.fade {
    td:not(:first-child) {
      opacity: 0.3;
    }
  }
  td {
    padding: 0.3em;
  }
  td:first-child {
    width: 0%;
  }
}
