@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');
@import 'reset';

$font-stack: 'Fira Sans', sans-serif;
$sidebar-width: 280px;
$blue: #5656f7;

body {
  margin: 0;
  font-family: $font-stack;
}

a {
  color: $blue;
  margin: 0 5px;
  cursor: pointer;
}

.code {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 10px;
  font-size: 80%;
  line-height: 110%;
}

#canvas {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: $sidebar-width;
  overflow: auto;
  canvas {
    cursor: pointer;
    background-color: #f0f0f0;
  }
}

#ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: calc(100% - #{$sidebar-width});
  background-color: #1a1a1a;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 15px;
  hr {
    border: none;
    height: 1px;
    background-color: #444;
  }
  h1 {
    font-size: 200%;
    line-height: 1.2em;
  }
  h1, h2 {
    padding: 15px;
  }
  .csv-input {
    margin-top: 15px;
    textarea {
      width: 100%;
      margin-top: 10px;
      &:focus {
        outline: none;
      }
    }
  }
  .dataset-select {
    width: 100%;
  }
  .instruction {
    margin-top: 10px;
  }
  .resolution-slider input {
    width: 100%;
  }
  .resolution-input {
    label {
      margin-bottom: 0;
    }
    input {
      border: none;
      font-size: 1.1em;
      border-bottom: 1px solid #fff;
      background-color: #1a1a1a;
      color: #fff;
      padding: 0px 0 3px 0;
      width: 100%;
      text-align: right;
      &:focus {
        outline: none;
        border-bottom: 1px solid $blue;
      }
    }
  }
  .metrics {
    padding: 8px;
  }
  #metrics-header {
    padding-bottom: 0.5em;
  }
  #warning {
    font-size: 0.8em;
    padding-top: 10px;
    line-height: 1.2em;
    i {
      padding-right: 0.5em;
    }
  }
}

fieldset {
  padding: 15px;
  label {
    display: inline-block;
    width: $sidebar-width * 0.3;
    margin-bottom: 6px;
  }
  a.export {
    background-color: $blue;
    border-radius: 5px;
    padding: 0.5em 0.75em;
    color: white;
    margin: 0;
    font-size: 80%;
  }
  a.import {
    margin: 0;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  tr.fade {
    td:not(:first-child) {
      opacity: 0.3;
    }
  }
  td {
    padding: 0.3em;
  }
  td:first-child {
    width: 0%;
  }
}

// dat.gui
.dg.ac {
  z-index: 1;
  pointer-events: none;
}
