.mobile-redirect {
  display: none;
}

//mobile styles
body.isMobile {
  overflow-x: hidden;
  overflow-y: hidden;
  .credits {
    z-index: 100;
    padding: 15px;
    background-color: #fdfdfd;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 1.4em;
    .source {
      display: none;
    }
  }
  .mobile-redirect {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url('../images/mobile-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .background {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
    }
    .close-mobile {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 30px;
    }
    .tilegrams-logo {
      width: 2em;
      height: 2em;
      margin: 0 0.4em 0 0.2em;
      transform: translateY(20%);
    }
    .main {
      position: relative;
      max-width: 90%;
      left: 50%;
      top: 40%;
      color: #1a1a1a;
      padding: $ui-margin $ui-margin $ui-margin / 2 $ui-margin;
      font-size: 1em;
      transform: translateX(-50%) translateY(-50%);
      color: $ui-background-color;
      h1 {
        font-size: 2em;
        display: inline-block;
        padding: 0 0 0.5em 0;
      }
      h2 {
        font-size: 1.5em;
        padding: 0 0 0.5em 0;
      }
      h3 {
        font-size: 1em;
      }
    }
  }
}
