@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500');
@import 'reset';

$font-stack: 'Fira Sans', sans-serif;

body {
  margin: 10px;
  font-family: $font-stack;
}

table {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  th {
    font-weight: bold;
  }
  th, td {
    padding: 0.3em;
  }
}

#metrics {
  float: left;
  #input-data {
    font-weight: bold;
    margin-top: 1em;
  }
}
